* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.toolbar {
  height: 6vh;
  background-color: #1e1e1e;
}

.workspace-container {
  display: flex;
  flex-direction: row;
  height: 90vh;
}

.reference-note-column {
  display: grid;
  grid-template-rows: repeat(61, 1fr);
  grid-template-columns: 1fr;
  width: 40px;
  height: 100%;
}

.workspace {
  display: grid;
  grid-template-rows: repeat(61, 1fr);
  grid-template-columns: repeat(6000, 1fr);
  flex: 1;
  height: 100%;
  background-color: #3e3e42;
}

.timeline-container {
  display: flex;
  flex-direction: row;
  height: 4vh;
}

.reference-note-filler {
  width: 40px;
  height: 100%;
  background-color: #3e3e42;
}

.timeline {
  flex: 1;
  height: 100%;
  background-color: #3e3e42;
}

.black-note {
  background-color: black;
}

.white-note {
  background-color: white;
}
