html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0px;
}

body {
  overflow: hidden;
}

p {
  user-select: none;
}

button {
  background-color: #1f252b;
  border: 1.5px solid #3a4750;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 10px;
  padding: 10px 20px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #505050ff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.button-container {
  position: relative;
  height: 100%;
}

.play-pause-btn {
  left: 10px;
}

.record-btn {
  left: 110px;
}

button:hover {
  background-color: #000000;
}
button:active {
  position: relative;
  top: 51%;
}

.toolbar {
  height: 6vh;
  background-color: #1e1e1e;
}

.workspace-container {
  display: flex;
  flex-direction: row;
  height: 90vh;
}

.reference-note-column {
  display: grid;
  grid-template-rows: repeat(61, 1fr);
  grid-template-columns: 1fr;
  width: 3vw;
  height: 100%;
}

.workspace {
  /* position: relative; */
  width: 96vw;
  height: 100%;
  background-color: #303841;
  border: 1px solid #1f252b;
}

.timeline-container {
  display: flex;
  flex-direction: row;
  height: 3vh;
  border-top: 1px solid #1f252b;
}

.top-note {
  border-top: 1px solid #1f252b;
}

.reference-note-filler {
  width: 3vw;
  height: 100%;
  background-color: #3a4750;
}

.timeline {
  flex: 1;
  height: 100%;
  background-color: #3a4750;
}

.black-note {
  background-color: #0f1315;
}

.white-note {
  background-color: #eeeeee;
}

.footer {
  height: 1vh;
  background-color: #0a0a0aff;
}

.playhead {
  position: absolute;
  left: 3vw;
  fill: #eeeeee;
  stroke-width: 0px;
  transform: translateX(0px);
  z-index: 1000;
}

.playhead-head {
  background-color: #eeeeee;
  position: absolute;
  height: 3vh;
  width: 21px;
  left: -10px;
  clip-path: polygon(0 0, 21px 0, 21px 1.5vh, 11px 3vh, 0 1.5vh);
}

.playhead-tail {
  border-left: 1px solid #eeeeee;
  height: 93vh;
  position: absolute;
}

.right-border {
  width: 1vw;
  background-color: #1e1e1e;
}

.recording {
  background-color: #d1342fff;
  border: 1.5px solid #d1342fff;
}

.recorded-note {
  position: absolute;
  background-color: #eeeeee;
  height: 1.475409836065574vh;
}

.analysis {
  width: 100%;
  height: 100%;
}

.note-analysis {
  position: absolute;
  background-color: #3a4750;
}

.notes-elements {
  width: 100%;
  height: 100%;
}

.analysis-text {
  color: white;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: -12px;
}
